<launch>
  <param command="$(find xacro)/xacro --inorder '$(find jackal_velodyne)/urdf/crack_Cube.urdf.xacro'" name="crack_Cube_description" />

  <node args="-param crack_Cube_description -urdf -model crack_Cube" name="spawn_crack_Cube" pkg="gazebo_ros" respawn="false" type="spawn_model" />
</launch>